.dvt
.vscode

hw/fpga/.qsys_edit
hw/fpga/db
hw/fpga/de0_nano_soc
hw/fpga/incremental_db
hw/fpga/hps_isw_handoff
hw/fpga/output_files
hw/fpga/simulation
hw/fpga/*.bak
hw/fpga/*.BAK*
hw/fpga/*.csv
hw/fpga/*.json
hw/fpga/*.qws
hw/fpga/*.rbf
hw/fpga/*.rpt
hw/fpga/*.qdf
hw/fpga/*.sopcinfo
hw/fpga/*.tcl~
hw/fpga/*.txt

sw/build
sw/buildtools
sw/downloads
sw/sstate_cache

*.log
